<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--<property name="connection.url"/>-->
        <!--<property name="connection.driver_class"/>-->
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->

        <property name="connection.username">IT39</property>
        <property name="connection.password">it39</property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.FirebirdDialect
        </property>
        <property name="hibernate.connection.driver_class">org.firebirdsql.jdbc.FBDriver</property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">jdbc:firebirdsql:class.mmcs.sfedu.ru/3050:/fbdata/39av/Martindale.fdb
            ?encoding=UNICODE_FSS</property>
        <mapping class="org.AgentEntity"/>
        <mapping class="org.WarehouseEntity"/>

        <!-- List of XML mapping files -->
        <!--<mapping resource="Employee.hbm.xml"/>-->
    </session-factory>
</hibernate-configuration>